<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boys.png</string>
            <key>size</key>
            <string>{128,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eed9520fc21284a61c989b893a8512d:43a55223fe0ebb2f743528aa238067db:f014b49d84d3c03d1888e173061b2cec$</string>
            <key>textureFileName</key>
            <string>boys.png</string>
        </dict>
    </dict>
</plist>
