<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jumpleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumpright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,256},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,320},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vanlio.png</string>
            <key>size</key>
            <string>{32,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e1fdf9c8f422a27c8fb4dab7780502:45b8b06e726bbbe7b0abe4f43ac33922:8095324f14b420ea671f271cc1c1cf20$</string>
            <key>textureFileName</key>
            <string>vanlio.png</string>
        </dict>
    </dict>
</plist>
